@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  /* Ensure select elements don't cause layout shifts */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
